/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Main Config wallpaper */

/* ---- Configuration ---- */
configuration {
    font:                  "Fira Code SemiBold 12";
    show-icons:            true;
    hover-select:          true;
    me-select-entry:       "MouseSecondary";
    me-accept-entry:       "MousePrimary";
    
}

@theme "theme-wallpaperpicker.rasi"

